{% extends '::base.html.twig' %}

{% block body %}

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">

            {{ include('TroiswaBlogBundle:Block:navbutton.html.twig') }}

        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">

            {{ include('TroiswaBlogBundle:Block:nav.html.twig') }}

        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<div class="container">

    <div class="row">
        <div class="col-lg-8">

            {% block content %}
            {% endblock %}

        </div>

        <div class="col-lg-4">
            <div class="well">

                {{ include('TroiswaBlogBundle:Block:asidesearch.html.twig') }}
                <!-- /input-group -->

            </div>
            <!-- /well -->
            <div class="well">

                {{ render(controller('TroiswaBlogBundle:Article:popular')) }}

            </div>
            <!-- /well -->
            {#<div class="well">

                {{ include('TroiswaBlogBundle:Block:asidewidget.html.twig') }}

            </div>#}
            <!-- /well -->
        </div>
    </div>

    <hr>

    <footer>
        <div class="row">

            {{ include('TroiswaBlogBundle:Block:footer.html.twig') }}

        </div>
    </footer>

</div>

{% endblock %}
